@model Course
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>Course Details</h3>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-3 font-weight-bold">Name:</div>
                <div class="col-sm-9">@Model.Name</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 font-weight-bold">Degree:</div>
                <div class="col-sm-9">@Model.Degree</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 font-weight-bold">MinDegree:</div>
                <div class="col-sm-9">@Model.MinDegree</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 font-weight-bold">Department:</div>
                <div class="col-sm-9">@Model.Department.Name</div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="index" asp-controller="course" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
